/3 semestre/Ling. Programação a Orientação Objeto/Soma24/build/
/3 semestre/Ling. Programação a Orientação Objeto/Soma24/dist/
/3 semestre/Ling. Programação a Orientação Objeto/Soma24/nbproject/private/
/3 semestre/Ling. Programação a Orientação Objeto/Calculadora/nbproject/private/
